$textColor: #2b3d4f;
$goodAnswer: #84BC9C;
$hoverLinkColor: #d10d24;
// $badAnswerColor: #B85140;
$iconToggleColor: #FBFF12;
$learnBtn: #58A4B0;
$testBtn: #58A4B0;
$appColor: #D8DBE2;
$navColor: #A9BCD0;
$saveBtn: #002781;
$translationInput: #e3e5ea;